@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";

.App {
  margin-top: 50px;
}

.content {
  padding: 1em 1.5em 1em 1.5em;
}

.nowrap {
  white-space: nowrap;
}
.ellipsis {
  max-width: 16em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ellipsis:hover {
  white-space: normal;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-cell {
  max-width: 40%;
  min-width: 150px;
  flex: 1;
  margin: 0.5em 0 1em 0;
}

.padded {
  padding: 0.5em;
}

.pad-br {
  padding: 0 1em 1em 0;
}

.margin-r {
  margin-right: 1em;
}

.dash-toggle {
  margin: 0;
  padding: 0.5em;
  width: inherit;
  background-color: #ccc;
  border: solid black 1px;
  cursor: pointer;
}

.no-pad {
  padding: 0;
}

.scroll-300 {
  padding: 1em;
  max-height: 300px;
  overflow-y: auto;
}

.inline-cb {
  display: inline-block;
  margin-right: 2em;
}
